<form class="w-100" [formGroup]="formPlant" (ngSubmit)="onSubmitForm()">
    <div class="mb-3">
        <label for="input-plant-name" class="form-label">Nom</label>
        <input type="text" formControlName="nom" id="input-plant-name" class="form-control" [ngClass]="{
        'is-invalid':
        formPlant.controls['nom'].invalid && formPlant.controls['nom'].touched
      }" aria-labelledby="invalid-feedback-input-name" />
        <div class="invalid-feedback" id="invalid-feedback-input-name">
            Ce champ est requis></div>

    </div>

    <div class="mb-3">
        <label for="input-plant-soleil" class="form-label">Soleil</label>
        <input type="text" formControlName="soleil" id="input-plant-soleil" class="form-control" />
    </div>

    <div class="mb-3">
        <label for="input-plant-arrosage" class="form-label">Arrosage</label>
        <input type="number" formControlName="arrosage" id="input-plant-arrosage" class="form-control" />
    </div>

    <div class="mb-3">
        <label for="input-plant-categorie" class="form-label">Categorie</label>
        <input type="text" formControlName="categorie" id="input-plant-categorie" class="form-control" />
    </div>

    <div class="mb-3">
        <label for="input-plant-image" class="form-label">Image</label>
        <input type="text" formControlName="image" id="input-plant-image" class="form-control" />
    </div>

    <button class="btn btn-succes" [disabled]="formPlant.invalid" type="submit">Créer la plante</button>
</form>