<div *ngIf="exposition === 'beaucoup'">
  <app-icon-soleil-plein></app-icon-soleil-plein>
  <app-icon-soleil-plein></app-icon-soleil-plein>
  <app-icon-soleil-plein></app-icon-soleil-plein>
  </div>
  <div *ngIf="exposition === 'peu'">
    <app-icon-soleil-plein></app-icon-soleil-plein>
    <app-icon-soleil-vide></app-icon-soleil-vide>
    <app-icon-soleil-vide></app-icon-soleil-vide>
  </div>
  <div *ngIf="exposition === 'moyen'">
    <app-icon-soleil-plein></app-icon-soleil-plein>
    <app-icon-soleil-plein></app-icon-soleil-plein>
    <app-icon-soleil-vide></app-icon-soleil-vide>
  </div>
  <div *ngIf="arrosage === 2">
    <app-icon-goutte-pleine></app-icon-goutte-pleine>
    <app-icon-goutte-pleine></app-icon-goutte-pleine>
    <app-icon-goutte-vide></app-icon-goutte-vide>
  </div>
  <div *ngIf="arrosage === 3">
    <app-icon-goutte-pleine></app-icon-goutte-pleine>
    <app-icon-goutte-pleine></app-icon-goutte-pleine>
    <app-icon-goutte-pleine></app-icon-goutte-pleine>
  </div>
  <div *ngIf="arrosage === 0">
    <app-icon-goutte-pleine></app-icon-goutte-pleine>
    <app-icon-goutte-vide></app-icon-goutte-vide>
    <app-icon-goutte-vide></app-icon-goutte-vide>
  </div>
  
  











<!-- <i [ngClass]="{'bi bi-0-square':exposition === 'peu',
'bi bi-2-circle-fill':exposition ==='moyen',
'bi bi-brightness-high-fill':exposition ==='beaucoup',
'bi bi-arrow-down-left-square':arrosage ===2}"
 style="font-size: 2rem; color: rgb(152, 240, 12);"></i> -->
