.container-plants {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.boubou{
  background-color: rgba(0, 0, 255, 0.081);
  background-image: url(src/assets/cucul.ico);
  opacity: 0.8;
  background-position: center;
}