<div class="d-flex boubou">
  <app-filter-side-bar
    [categoriesToDisplay]="categoriesToSend"
    (categoriesToFilter)="onCategorySelected($event)"
    [soleilToDisplay]="soleilToSend"
    (soleilToFilter)="onSoleilSelected($event)"
  ></app-filter-side-bar>
  <div>
   <div class ="p-4"><app-seach-bar (val)="onSearchText($event)"></app-seach-bar></div>
    <div><app-sort-bar></app-sort-bar></div>
  <div class="container-plants">
    <app-card-plant class="one-plant"
      *ngFor="let plantData of plantsToDisplay"
      [plant]="plantData"
    ></app-card-plant>
  </div>
</div>
</div>