.container-plants {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1.5rem;
  padding-top: 0;
}
.boubou{
  background-color: rgba(21, 27, 19, 0.192);
  /* background-image: url(src/assets/cucul.ico); */
  opacity: 0.8;
  background-position: center;
}

.one-plant {
width: 32%;
margin-bottom: 1.5rem;
}

@media (min-width: 1200px){
  .one-plant{
    width: 23%;
  }
}
