.bou{
    box-shadow: 10px 5px 5px rgba(15, 15, 15, 0.438); 
}

.lala{
    text-align: center;
    height: 15rem;
}

img{
    max-height: 100%;
    width: auto;
}

.cocote{
    background: linear-gradient(blue, pink);
    color: white;
}

.ombre{
box-shadow: 10px 5px 5px rgba(15, 15, 15, 0.438); 
}