<div class="custom-side-bar border-end">
  <div class="p-3">
    <span class="fs-5 fw-semibold">Filtres</span>
  </div>
  <hr />
  <div class="px-3">
    <p class="fs-5 fw-semibold">Catégorie</p>
    <div class="form-check" *ngFor="let category of categoriesToDisplay">
      <input
        class="form-check-input"
        type="checkbox"
        value="{{ category }}"
        id="{{ category }}"
        (change)="onCheckedCategories($event)"
      />
      <label class="form-check-label" for="{{ category }}">
        {{ category }}
      </label>
       </div>
    <div>
      <div><p></p></div>
      <fieldset>
        <legend>Exposition</legend>
      
        <div>
          <input class="form-check-input" type="checkbox" id="huey" />
          <label for="huey">
            <i class="bi-brightness-high-fill" style="font-size: 2rem; color: rgb(251, 255, 12);"></i>
            <i class="bi bi-brightness-high" style="font-size: 2rem; color: rgb(251, 255, 12);"></i>
            <i class="bi bi-brightness-high" style="font-size: 2rem; color: rgb(251, 255, 12);"></i>
          </label>
        </div>
      
        <div>
          <input class="form-check-input" type="checkbox" id="huey" />
          <label for="huey">
            <i class="bi-brightness-high-fill" style="font-size: 2rem; color: rgb(251, 255, 12);"></i>
            <i class="bi-brightness-high-fill" style="font-size: 2rem; color: rgb(251, 255, 12);"></i>
            <i class="bi bi-brightness-high" style="font-size: 2rem; color: rgb(251, 255, 12);"></i>
          </label>
        </div>
      
        <div>
          <input class="form-check-input" type="checkbox" id="huey" />
          <label for="huey">
            <ng-container *ngFor="let _ of [1, 2, 3]">
              <i class="bi bi-brightness-high-fill" style="font-size: 2rem; color: rgb(251, 255, 12);"></i>
            </ng-container>
          </label>
        </div>
      </fieldset>
    </div>


         <fieldset>
        <legend>Arrosage</legend>
      
        <div>
          <input class="form-check-input" type="checkbox" id="huey" />
          <label for="huey">
            <i class="bi bi-droplet-fill" style="font-size: 2rem; color: rgb(57, 12, 255);"></i>
            <i class="bi bi-droplet" style="font-size: 2rem; color: rgb(57, 12, 255);"></i>
            <i class="bi bi-droplet" style="font-size: 2rem; color: rgb(57, 12, 255);"></i>
          </label>
        </div>
      
        <div>
          <input class="form-check-input" type="checkbox" id="huey" />
          <label for="huey">
            <i class="bi bi-droplet-fill" style="font-size: 2rem; color: rgb(57, 12, 255);"></i>
            <i class="bi bi-droplet-fill" style="font-size: 2rem; color: rgb(57, 12, 255);"></i>
            <i class="bi bi-droplet" style="font-size: 2rem; color: rgb(57, 12, 255);"></i>
          </label>
        </div>
      
        <div>
          <input class="form-check-input" type="checkbox" id="huey" />
          <label for="huey">
            <i class="bi bi-droplet-fill" style="font-size: 2rem; color: rgb(57, 12, 255);"></i>
            <i class="bi bi-droplet-fill" style="font-size: 2rem; color: rgb(57, 12, 255);"></i>
            <i class="bi bi-droplet-fill" style="font-size: 2rem; color: rgb(57, 12, 255);"></i>
          </label>
        </div>
      </fieldset>
  </div>
</div>





 <!-- <img src="../../../assets/bebe.gif" class="bebe"/> -->