<h1 class="titi">Page Admin plantdex</h1>

<button class="btn btn-success pull-right" routerLink="/admin/new-plant" > Add Plante</button>
<table class = "table bou">
 <thead>
   <th>Nom</th>
   <th>Image</th>
   <th>Catégorie</th>
   <th>Besoin d'ensolleilement</th>
   <th>Besoin d'arrosage</th>
   <th>Delete</th>
 </thead>
      <tbody>
        <tr *ngFor="let plant of plantsToDisplay">
          <td>{{ plant.nom }}</td>
          <td><img [src]="plant.image" alt="Image {{ plant.nom }}"style="max-width: 100px; max-height: 100px"></td>
          <td>{{ plant.categorie }}</td>
          <td>{{ plant.soleil }}</td>
          <td>{{ plant.arrosage }}</td>
          <td> <button type="reset" (click)="deletePlantClick(plant.id)" ></button></td>
        </tr>
      </tbody>
</table>